__pycache__/
tsntest/
build/
dist/
**/*.ipynb_checkpoints/
*.py[cod]
*.csv
*.pyc
*.err
*.log
*.out
*.DS_Store
*.egg
*.egg-info

*.DS_Store

tsnkit/simulation/cython/*.c
tsnkit/simulation/cython/*.so

runs/
data_storm/
*.pt
*.pth

# 在 .gitignore 里写入：

# 1. 屏蔽一切
*

# 2. 豁免你自己的代码文件夹 (注意开头的感叹号表示“不屏蔽”)
!tsnkit/algorithms/sca_drl/
!tsnkit/algorithms/sca_drl/**

# 3. 豁免必需的 Git 文件
!.gitignore